header {
    margin: 0 auto;
    max-width: 1335px;
    position: relative;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.home-icon {
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-spacing: 2em;
    color: white;
    font-size: larger;
}

.social-icon {
    font-size: 1.5em;
    padding-right: 20px;
}