header {
    margin: 0 auto;
    max-width: 1335px;
    position: relative;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

header>a:first-child {
    text-indent: -99999px;
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nNDAnIGhlaWdodD0nNDAnIHZpZXdCb3g9JzAgMCA0MCA0MCcgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cmVjdCB4PScyJyB5PScyJyB3aWR0aD0nMzYnIGhlaWdodD0nMzYnIGZpbGw9JyMyODJFMzMnIHN0cm9rZT0nd2hpdGUnIHN0cm9rZS13aWR0aD0nNCcvPjxwYXRoIGQ9J00xOS45NjkxIDI2LjIzNEMxOC45ODUxIDI2LjIzNCAxOC4xMDMxIDI2LjA3OCAxNy4zMjMxIDI1Ljc2NkMxNi41NDMxIDI1LjQ0OCAxNS45MjUxIDI0Ljk3NyAxNS40NjkxIDI0LjM1M0MxNS4wMTkxIDIzLjcyOSAxNC43OTQxIDIyLjk1NSAxNC43OTQxIDIyLjAzMVYyMS41NjNIMTguNDIxMVYyMS45NTlDMTguNDIxMSAyMi4zNzkgMTguNTUwMSAyMi43MyAxOC44MDgxIDIzLjAxMkMxOS4wNzIxIDIzLjI5NCAxOS40NzExIDIzLjQzNSAyMC4wMDUxIDIzLjQzNUMyMC41MjExIDIzLjQzNSAyMC45MjYxIDIzLjM2IDIxLjIyMDEgMjMuMjFDMjEuNTIwMSAyMy4wNTQgMjEuNjcwMSAyMi44MDIgMjEuNjcwMSAyMi40NTRDMjEuNjcwMSAyMi4xOTYgMjEuNTI5MSAyMS45NTYgMjEuMjQ3MSAyMS43MzRDMjAuOTcxMSAyMS41MTIgMjAuNTk2MSAyMS4zMDIgMjAuMTIyMSAyMS4xMDRDMTkuNjU0MSAyMC45MDYgMTkuMTMyMSAyMC43MTcgMTguNTU2MSAyMC41MzdDMTcuOTMyMSAyMC4zMzkgMTcuMzM4MSAyMC4wNzIgMTYuNzc0MSAxOS43MzZDMTYuMjE2MSAxOS40IDE1Ljc2MDEgMTguOTY1IDE1LjQwNjEgMTguNDMxQzE1LjA1MjEgMTcuODkxIDE0Ljg3NTEgMTcuMjIyIDE0Ljg3NTEgMTYuNDI0QzE0Ljg3NTEgMTUuNjAyIDE1LjEwMzEgMTQuOSAxNS41NTkxIDE0LjMxOEMxNi4wMTUxIDEzLjczIDE2LjYyNzEgMTMuMjggMTcuMzk1MSAxMi45NjhDMTguMTY5MSAxMi42NTYgMTkuMDI3MSAxMi41IDE5Ljk2OTEgMTIuNUMyMC45NDcxIDEyLjUgMjEuODIwMSAxMi42NTMgMjIuNTg4MSAxMi45NTlDMjMuMzYyMSAxMy4yNjUgMjMuOTc0MSAxMy43MTUgMjQuNDI0MSAxNC4zMDlDMjQuODc0MSAxNC45MDMgMjUuMDk5MSAxNS42MzggMjUuMDk5MSAxNi41MTRWMTYuOTY0SDIxLjQ3MjFWMTYuNjg1QzIxLjQ3MjEgMTYuMjk1IDIxLjM2MTEgMTUuOTY1IDIxLjEzOTEgMTUuNjk1QzIwLjkyMzEgMTUuNDI1IDIwLjU0ODEgMTUuMjkgMjAuMDE0MSAxNS4yOUMxOS40ODYxIDE1LjI5IDE5LjA3ODEgMTUuMzg2IDE4Ljc5MDEgMTUuNTc4QzE4LjUwODEgMTUuNzcgMTguMzY3MSAxNi4wNDkgMTguMzY3MSAxNi40MTVDMTguMzY3MSAxNi43OTkgMTguNjMxMSAxNy4xMiAxOS4xNTkxIDE3LjM3OEMxOS42ODcxIDE3LjYzIDIwLjM1MzEgMTcuODk3IDIxLjE1NzEgMTguMTc5QzIxLjk2MTEgMTguNDYxIDIyLjY2NjEgMTguNzczIDIzLjI3MjEgMTkuMTE1QzIzLjg3ODEgMTkuNDUxIDI0LjM0OTEgMTkuODc0IDI0LjY4NTEgMjAuMzg0QzI1LjAyNzEgMjAuODk0IDI1LjE5ODEgMjEuNTQ4IDI1LjE5ODEgMjIuMzQ2QzI1LjE5ODEgMjMuMTggMjQuOTczMSAyMy44ODggMjQuNTIzMSAyNC40N0MyNC4wNzMxIDI1LjA0NiAyMy40NTIxIDI1LjQ4NCAyMi42NjAxIDI1Ljc4NEMyMS44NzQxIDI2LjA4NCAyMC45NzcxIDI2LjIzNCAxOS45NjkxIDI2LjIzNFonIGZpbGw9J3doaXRlJy8+PC9zdmc+Cg==);
    background-position: center;
    background-repeat: no-repeat;
}

.social-icon {
    font-size: 1.5em;
    padding-right: 20px;
}

.social-icon:hover {
    color: white;
    cursor: pointer;
}